@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@using Microsoft.AspNetCore.Identity
@using EventBase.Models

@inject SignInManager<MyUser> SignInManager
@inject UserManager<MyUser> UserManager

<div class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <a class="btn btn-dark btn-lg" asp-area="" asp-page="/Events/Index">Find A New Event</a>
    }
    else
    {
        <a class="btn btn-dark btn-lg" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        <a class="btn btn-dark btn-lg" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    }
</div>